<!--Important link source from https://bootsnipp.com/snippets/ooa9M-->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
<footer id="dk-footer" class="dk-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-4">
        <div class="dk-footer-box-info">
          <a href="index.html" class="footer-logo">
            <img src="../../../assets/logo_jci.png"
                 alt="footer_logo" class="img-fluid">
          </a>
          <p class="footer-info-text text-center">
            Nous sommes une Organisation à but non lucratif avec un effectif de 200 000 membres de 18 à 40 ans répartis
            dans 5000 communautés dans 100 pays
          </p>
          <div class="footer-social-link">
            <h3>Follow us</h3>
            <ul>
              <li>
                <a href="#">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-youtube"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-instagram"></i>
                </a>
              </li>
            </ul>
          </div>
          <!-- End Social link -->
        </div>
        <!-- End Footer info -->

      </div>
      <!-- End Col -->
      <div class="col-md-12 col-lg-8">
        <div class="row">
          <div class="col-md-6">
            <div class="contact-us">
              <div class="contact-icon">
                <i class="fa fa-map-o" aria-hidden="true"></i>
              </div>
              <!-- End contact Icon -->
              <div class="contact-info">
                <h3>JCI </h3>
                <p> Ksar Hellal</p>
              </div>
              <!-- End Contact Info -->
            </div>
            <!-- End Contact Us -->
          </div>
          <!-- End Col -->
          <div class="col-md-6">
            <div class="contact-us contact-us-last">
              <div class="contact-icon">
                <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
              </div>
              <!-- End contact Icon -->
              <div class="contact-info">
                <h3>23 839 823</h3>
                <p>Give us a call</p>
              </div>
              <!-- End Contact Info -->
            </div>
            <!-- End Contact Us -->
          </div>
          <!-- End Col -->
        </div>
        <!-- End Contact Row -->
        <div class="row">
          <div class="col-md-12 col-lg-6">
            <div class="footer-widget footer-left-widget">
              <div class="section-heading">
                <h3>Useful Links</h3>
                <span class="animate-border border-black"></span>
              </div>
              <ul>
                <li>
                  <a href="#aboutUs">à propos</a>
                </li>
                <li>
                  <a routerLink="/news">évènements</a>
                </li>
                <li>
                  <a routerLink="/help">aide</a>
                </li>

              </ul>

            </div>
            <!-- End Footer Widget -->
          </div>
          <!-- End col -->
          <div class="col-md-12 col-lg-6">
            <div class="footer-widget">
              <div class="section-heading">
                <h3>Subscribe</h3>
                <span class="animate-border border-black"></span>
              </div>
              <p style="font-family: Cursive, serif; font-weight: bold">Développé par <a
                href="https://www.linkedin.com/in/bahrichams/" target="_blank" style="color: #0095ff">Bahri Chams
                Eddine.</a></p>


            </div>
            <!-- End footer widget -->
          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->
      </div>
      <!-- End Col -->
    </div>
    <!-- End Widget Row -->
  </div>
  <!-- End Contact Container -->

  <app-copyright></app-copyright>
  <!-- End Copyright -->
</footer>
