<section id="team" class="team section-bg ">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Bureau Exécutif</h2>
    </div>

    <div class="row">

      <div class="col-lg-6 mt-4">
        <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
          <div class="pic"><img src="assets/img/team/team-1.jpg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Sabrine BELAID</h4>
            <span>Presidente</span>
            <div class="social">
              <a target="_blank" href="https://www.facebook.com/sabrine.belaid"><i class="ri-facebook-fill"></i></a>
              <a target="_blank" href="https://www.instagram.com/sabrinebelaid/?utm_medium=copy_link&fbclid=IwAR24cQ-gjo8fX2mK05yu4w580_fNPJLeFMOBbs-p3OgNDXkMKwL7L2nTlLY"><i class="ri-instagram-fill"></i></a>
            </div>
          </div>
        </div>
      </div>


      <div class="col-lg-6 mt-4">
        <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">
          <div class="pic"><img src="assets/img/team/team-4.jpg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Ines SAIDANE</h4>
            <span>Conseiller juridique</span>
            <div class="social">

              <a href="https://www.facebook.com/micha.jaejoongcassiopeia" target="_blank"><i class="ri-facebook-fill"></i></a>
              <a target="_blank" href="https://www.instagram.com/saidane.ines/?utm_medium=copy_link&fbclid=IwAR01u2cmFg7jP5T4xB3vIvqYb3jWB_dtFQ5uaGlZ3Qv-d5bmVWU5gJHUjKk"><i class="ri-instagram-fill"></i></a>

            </div>
          </div>
        </div>
      </div>



      <div class="col-lg-6 mt-4">
        <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="300">
          <div class="pic"><img src="assets/img/team/team-3.jpg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Oumayma Ben ROMDHANE</h4>
            <span>Secrétaire Général</span>
            <div class="social">
              <a href="https://www.facebook.com/br.oumeyma" target="_blank"><i class="ri-facebook-fill"></i></a>
              <a target="_blank" href="https://www.instagram.com/b.romdhane.oumayma/?utm_medium=copy_link&fbclid=IwAR12Sap_bQQDor4GmUukdznYYHP4DQ0VF8wJHDkl69vBwekX7GhQpEk_z9w"><i class="ri-instagram-fill"></i></a>
            </div>
          </div>
        </div>
      </div>


      <div class="col-lg-6 mt-4">
        <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">
          <div class="pic"><img src="assets/img/team/team-5.jpg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Abdelkader LAKHAL</h4>
            <span>Trésoeier</span>
            <div class="social">
              <a target="_blank" href="https://www.facebook.com/abdelkader.akhel"><i class="ri-facebook-fill"></i></a>
              <a target="_blank" href="https://www.instagram.com/abdelkader.lakhal4716/?utm_medium=copy_link&fbclid=IwAR30TEGYpc_inKr5LQfIDPZBZA3shib7jibQVVL2b7HuO_A5Zk5soA2nfGk"><i class="ri-instagram-fill"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4">
        <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">
          <div class="pic"><img src="assets/img/team/team-6.jpg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Mayssa GARRA</h4>
            <span>chargée Formation et Développement</span>
            <div class="social">
              <a href=""><i class="ri-facebook-fill"></i></a>
              <a target="_blank" href="https://www.instagram.com/gara.mayssa/?utm_medium=copy_link&fbclid=IwAR2Ma7n4Iued2E9DKuDmPUo2Ts-nvvYVZOG9iFjNuQQ_FAsAhhhcRfCdP90"><i class="ri-instagram-fill"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4">
        <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
          <div class="pic"><img src="assets/img/team/team-2.jpg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Aziz BOUZOUITA</h4>
            <span>chargée du Programme et Relations Extérieures</span>
            <div class="social">
              <a target="_blank" href="https://www.facebook.com/bz.aziz.35"><i class="ri-facebook-fill"></i></a>
              <a target="_blank" href="https://www.instagram.com/bouzuita_aziz/?utm_medium=copy_link&fbclid=IwAR3FxOny_MR8RtMECcB42nU7zRQiet6DgsYrvOqVbOoweVcHoknYuA2-0iY"><i class="ri-instagram-fill"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4" style="margin-left: 25%">
        <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">
          <div class="pic"><img src="assets/img/team/team-7.jpg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Locmen CHARFI</h4>
            <span>Ancien Président immediat</span>
            <div class="social">
              <a target="_blank" href="https://www.facebook.com/charfi.locmen"><i class="ri-facebook-fill"></i></a>
              <a target="_blank" href="https://www.instagram.com/lokmen711/?utm_medium=copy_link&fbclid=IwAR3ydd6FWV3uqtViiWsSHPb_NBsFY42nsIMqAC3nkB_LiGx3YJB-g9LrwuI"><i class="ri-instagram-fill"></i></a>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
