<div class="container services aboutContent" id="services" data-aos="fade-up">


  <div class="row">
    <div class="col-xl-3 col-md-6 d-flex align-items-stretch " data-aos="zoom-in" data-aos-delay="100">
      <div class="icon-box AboutBox">
        <div class="icon"><i class="bx bxl-dribbble"></i></div>
        <h4 class="text-center">Depuis</h4>
        <h5 class="text-center text-muted">1982</h5>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
      <div class="icon-box AboutBox">
        <div class="icon"><i class="bx bx-file"></i></div>
        <h4 class="text-center">Membre</h4>
        <h5 class="text-center text-muted">31</h5>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
      <div class="icon-box AboutBox">
        <div class="icon"><i class="bx bx-tachometer"></i></div>
        <h4 class="text-center">Evenement 2021</h4>
        <h5 class="text-center text-muted">19</h5>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
      <div class="icon-box AboutBox">
        <div class="icon"><i class="bx bx-layer"></i></div>
        <h4 class="text-center">Participant Satisfait</h4>
        <h5 class="text-center text-muted">199</h5>
      </div>
    </div>

  </div>

</div>
