.titleHelp{
  font-family: Cursive, serif;
  font-weight: bold;
}
.Etape{
  font-family: Cursive, serif;
  font-weight: bold;
  margin-top: 10px;
  color: white;
}
.formbtn{
  border-radius: 15%;
  margin-left: 35%;
}
.helpImg{
  margin-left: 75px;
  margin-bottom: 55px;
}
.helpBox{
  margin-bottom: 125px;
  border-radius: 7%;
  box-shadow: -0.4em 0.5em gray;

}
