.slide {
  width: 100%;
  height: 100%;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.slide-title {
  color: white;
  margin-bottom: 50px;
}

.slide-btn {
  border-radius: 50px;
  color: #fff;
  background-color: #0095ff;
  padding: 15px;
  cursor: pointer;
  border: none !important;
  margin-bottom: 100px;
}

.slide-btn:hover {
  color: #fff;
  background-color: orange;
}
