<section id="services" class="services evtBlock">
  <div class="container " data-aos="fade-up">

    <div class="section-header">
      <h2>Nos Actions</h2>
    </div>

    <div class="row gy-5 ">

      <div class="col-xl-4 col-md-6 " data-aos="zoom-in" data-aos-delay="200">
        <div class="service-item">
          <div class="img">
            <img src="./assets/img/services-1.jpg" class="img-fluid evtImg" alt="">
          </div>
          <div class="details position-relative">
            <div class="icon">
              <i class="bi bi-activity"></i>
            </div>
            <a href="#" class="stretched-link" data-bs-toggle="modal" data-bs-target="#exampleModal1">
              <h3>Journée ouverte de Vaccination | Covid-19</h3>
            </a>
          </div>
        </div>
      </div><!-- End Service Item -->

      <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
        <div class="service-item">
          <div class="img">
            <img src="./assets/img/services-2.jpg" class="img-fluid evtImg" alt="">
          </div>
          <div class="details position-relative">
            <div class="icon">
              <i class="bi bi-broadcast"></i>
            </div>
            <a href="#" class="stretched-link" data-bs-toggle="modal" data-bs-target="#exampleModal2">
              <h3>Start your professional career
              </h3>
            </a>
          </div>
        </div>
      </div><!-- End Service Item -->

      <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="400">
        <div class="service-item">
          <div class="img">
            <img src="./assets/img/services-3.jpg" class="img-fluid evtImg" alt="">
          </div>
          <div class="details position-relative">
            <div class="icon">
              <i class="bi bi-easel"></i>
            </div>
            <a href="#" class="stretched-link" data-bs-toggle="modal" data-bs-target="#exampleModal3">
              <h3>Effective Communication Message Delivery</h3>
            </a>
          </div>
        </div>
      </div><!-- End Service Item -->


    </div>

  </div>



<!-- Modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title " id="exampleModalLabel1" style="font-family: Cursive, serif;
            font-weight: bold;">Description</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center" style="font-family: Cursive, serif;
            font-weight: bold;">
        Car nous croyons que la personne humaine
        est la plus précieuse des richesses,
        Et que servir l'humanité constitue l'œuvre
        la plus noble d'une vie La Chambre Internationale
        de la Jeunesse de Ksar Hellal s'est mobilisée,
        avec toutes les composantes de la société civile,
        pour organiser la Journée Nationale de la Vaccination contre le Coronavirus le 8 août 2021.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" routerLink="/professionalCareer">View Gallery</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title " id="exampleModalLabel2" style="font-family: Cursive, serif;
            font-weight: bold;">Description</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center" style="font-family: Cursive, serif;
            font-weight: bold;">
        La Jeune Chambre Internationale de KSAR HELLAl et KHNISS ont l'immense plaisir de vous inviter à assister à une session de formation intitulée "START YOUR PROFESSIONAL CAREER" animée par notre chère formatrice Imen BOUJNAH
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" routerLink="/professionalCareer">View Gallery</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title " id="exampleModalLabel3" style="font-family: Cursive, serif;
            font-weight: bold;">Description</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center" style="font-family: Cursive, serif;
            font-weight: bold;">
        JCI de Bekalta, Djerba, Hammem Sousse, Ksar Hellal et Settat ont l'immense plaisir d'assister le forum de formation international "Be Effective"
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" routerLink="/beEffrctive">View Gallery</button>
      </div>
    </div>
  </div>
</div>




  <div class="container " data-aos="fade-up">

    <div class="section-header">
      <h2>Nos Formations</h2>
    </div>

    <div class="row gy-5 ">

      <div class="col-xl-4 col-md-6 " data-aos="zoom-in" data-aos-delay="200">
        <div class="service-item">
          <div class="img">
            <img src="./assets/img/services-1.jpg" class="img-fluid evtImg" alt="">
          </div>
          <div class="details position-relative">
            <div class="icon">
              <i class="bi bi-activity"></i>
            </div>
            <a href="#" class="stretched-link" data-bs-toggle="modal" data-bs-target="#exampleModal4">
              <h3>About JCI</h3>
            </a>
          </div>
        </div>
      </div><!-- End Service Item -->

      <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
        <div class="service-item">
          <div class="img">
            <img src="./assets/img/services-2.jpg" class="img-fluid evtImg" alt="">
          </div>
          <div class="details position-relative">
            <div class="icon">
              <i class="bi bi-broadcast"></i>
            </div>
            <a href="#" class="stretched-link" data-bs-toggle="modal" data-bs-target="#exampleModal5">
              <h3>Soft/Hard Skills
              </h3>
            </a>
          </div>
        </div>
      </div><!-- End Service Item -->

      <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="400">
        <div class="service-item">
          <div class="img">
            <img src="./assets/img/services-3.jpg" class="img-fluid evtImg" alt="">
          </div>
          <div class="details position-relative">
            <div class="icon">
              <i class="bi bi-easel"></i>
            </div>
            <a href="#" class="stretched-link" data-bs-toggle="modal" data-bs-target="#exampleModal6">
              <h3>Member 2 Member</h3>
            </a>
          </div>
        </div>
      </div><!-- End Service Item -->


    </div>

  </div>
</section>


<!-- Modal -->
<div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel4" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title " id="exampleModalLabel4" style="font-family: Cursive, serif;
            font-weight: bold;">Description</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center" style="font-family: Cursive, serif;
            font-weight: bold;">
        Les Jeunes Chambres Économiques de Touza, Ksar hellal, Zaouit kontech, Jemmel, Bembla, Bennane, Béni hessan et Gheneda organisent le 27 Février 2022 un forum intitulé « The art of communication For a better negotiation! » qui se tiendra à l'école primaire Habib Bourguiba de Touza
        Animé par nos chers formateurs :
        -"la formation Technique de Comunication : Hamza Boughattas"
        -la Formation dossier sponsoring et négociation : Ghada Jegham"
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a type="button" class="btn btn-primary" target="_blank" href="https://www.facebook.com/events/789870561972824/?ref=newsfeed">View Gallery</a>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel5" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title " id="exampleModalLabel5" style="font-family: Cursive, serif;
            font-weight: bold;">Description</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center" style="font-family: Cursive, serif;
            font-weight: bold;">
        La Jeune Chambre Internationale de KSAR HELLAl et KHNISS ont l'immense plaisir de vous inviter à assister à une session de formation intitulée "START YOUR PROFESSIONAL CAREER" animée par notre chère formatrice Imen BOUJNAH
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" routerLink="/professionalCareer">View Gallery</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModalLabel6" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title " id="exampleModalLabel6" style="font-family: Cursive, serif;
            font-weight: bold;">Description</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center" style="font-family: Cursive, serif;
            font-weight: bold;">
        La Jeune Chambre Economique sz Ksar Hellal a l'immense plaisir de vous inviter à assister à un cours de formation M2M (Member to Member) intitulé #BE Convincing animé par notre cher membre Firas DIMASSI et qui aura lieu jeudi 17 Mars 2022 à 17h30 au Centre de formation APFC, Ksar Hellal.
        Nous serons très honorés par votre présence.      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a type="button" class="btn btn-primary" href="https://www.facebook.com/events/479830080502607/?ref=newsfeed" target="_blank">View Gallery</a>
      </div>
    </div>
  </div>
</div>
