<section class="section-bg">
  <div class="section-title mt-3">
    <h2>Our Credo</h2>
  </div>

  <div class="container col-xl-12 col-md-12 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="400">
    <div class=" container icon-box credoBox">

      <div class=" mb-5" data-aos="fade-up">

        <div class="row">
          <div class=" col-lg-6 d-flex align-items-center " data-aos="fade-right" data-aos-delay="100">
            <h4 class="fst-italic text-center text-muted credoText">
              <span style="font-family: Cursive, serif;
            font-weight: bold;color: orange">Nous croyons que:</span><br/><br/>
              <span style="color: white">Que la foi en Dieu donne à la vie son véritable sens;<br/>
              Que la fraternité humaine transcende la souveraineté des nations,<br/>
              Que la liberté des individus et de l'entreprise assurera mieux la justice économique,<br/>
              Que le gouvernement doit s'appuyer sur la loi et non sur l'arbitraire,<br/>
              Que la personne humaine est la plus précieuse des richesses,<br/>
                Et que servir l'humanité constitue l'œuvre la plus noble d'une vie.<</span>
            </h4>
          </div>
          <div class="credoText2 col-lg-6 pt-4 pt-lg-0 content text-center aboutContent" data-aos="fade-left"
               data-aos-delay="100">
            <h3 class="credoTitle" style="font-family: Cursive, serif;
            font-weight: bold;">Vision</h3>
            <h4 class="fst-italic text-center">
              Être le principal réseau mondial de jeunes citoyens actifs.
            </h4>
            <h3 class="credoTitle mt-2" style="font-family: Cursive, serif;
            font-weight: bold;">Mission</h3>
            <h4 class="fst-italic text-center">
              Offrir des opportunités de développement aux jeunes en leur donnant la capacité de créer des changements
              positifs.
            </h4>

          </div>
        </div>

      </div>
    </div>
  </div>

</section>
